# pip-compile --output-file=requirements.txt requirements.in

flask
opencv-python
matplotlib
pillow
pymongo
sentence-transformers
tqdm 
python-dotenv 
llama-index 
llama-index-vector-stores-mongodb 
llama-index-embeddings-openai 
pymongo 
openai 
langchain_openai 
langchain 
langgraph 
python-dotenv 
pyyaml 
elevenlabs
ipywidgets
websocket-client = "^1.7.0"
imageio = "^2.34.0"
imageio-ffmpeg = "^0.4.9"
requests = "^2.31.0"